<div class="searchBar">
    <form ng-submit="search(zipCode)">
        <input type="search" placeholder="Search by Zipcode" ng-model="zipCode" required/>
        <input type="submit" value="search">
    </form>
</div>


<div>{{currentWeather.location}}</div> 

<div>{{currentWeather.currentDescription}}</div>

<div>current: {{currentWeather.currentTemp}}</div>

<div>todayHigh: {{currentWeather.todayHighTemp}}</div>
<div>todayLow: {{currentWeather.todayLowTemp}}</div>

<div ng-if="currentWeather">
    <div ng-repeat="(key, value) in currentWeather.additionalData">
        <div>{{key}}: {{value}} </div>
    </div>
</div>

<google-chart weatherdata="weatherData"></google-chart>